[user]
    name = Will Sun
    email = iamwillsun@gmail.com

[alias]
    ci = commit -a
    st = status
    co = checkout
    br = branch
    hs = log --pretty=format:'%C(auto)[%h] %an %cr: %s'
    pa = push all master
    po = push origin master
    ph = push heroku master
    ps = push staging dev:master
    gr = log --graph --pretty=oneline --abbrev-commit

[core]
    whitespace = fix,trailing-space,space-before-tab,cr-at-eol

[apply]
    whitespace = fix

[color]
    diff = auto
    status = auto
    branch = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
