[user]
    name = Will Sun
    email = wjy.sun@gmail.com

[alias]
    ci = commit -a -m
    st = status
    co = checkout
    br = branch
    hs = log --pretty=format:'%C(auto)[%h] %an %cr: %s'
    po = push origin master
    ph = push heroku master

[core]
    whitespace = fix,trailing-space,space-before-tab,cr-at-eol

[apply]
    whitespace = fix

[color]
    diff = auto
    status = auto
    branch = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan